table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

tfoot td,
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
input {
  padding: 8px ;
  margin: 8px  ;
  box-sizing: border-box;
  outline: none;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: .8rem;
  margin-top: 1.4rem;
}


button{
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #35f1a3;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
button:disabled{
  background-color: #c7c7c7;
  color: #000000;
  cursor: not-allowed;
}

select{
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #35f1a3;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

pre{
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  margin: 1rem 0;
  text-align: left;
}